.conteudo{
	-fx-background-color: black;
	
}

.titulo{
	-fx-font-family: Oswald;
	-fx-font-size: 36px;
	-fx-text-fill: #48b2ee;	
}
.numero{
	-fx-font-size: 28px;
	-fx-text-fill: #fff;
}

.botoes{
	-fx-background-color: #fff;
	-fx-text-fill: #48b2ee;
	-fx-font-size: 24px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
	
}

.verde{
	-fx-text-fill: green;
	
}

.vermelho{
	-fx-text-fill: red;
	
}